@import './normalize';
@import 'react-activity/lib/Spinner/Spinner';
@import 'sweetalert2/src/sweetalert2';

html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 1.14;
    overflow: auto;
    box-sizing: border-box;
}
  
html *, *:after, *:before {
    box-sizing: inherit;
}
  
body, #__next {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: auto;
    background: #212d39;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
button {
    padding: 0 0 0 0;
    cursor: pointer;
    border: none;
    background: transparent;

    &:focus {
        outline: 0;
    }
}
  
a {
    text-decoration: none;
}
  
select {
    font: 400 11px system-ui;
        align-items: center;
    cursor: pointer;

    &:focus {
        outline: 0;
    }
}
  
#body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .body-content {
        display: flex;
        width: 50%;
        flex-direction: column;
        background: #ffffff;
        border-radius: 25px;
    }
}
  