.loading-screen {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 2% 5%;
}
.contact-container {
    display: flex;
    flex: 1;
    padding: 2% 5%;
    flex-direction: column;
    .alert-success {
        display: flex;
        width: 100%;
        padding: 5px 0px;
        background: #f06565;
        color: #ffffff;
        border-radius: 4px;
        justify-content: center;
        margin-bottom: 10px;
    }
    .contact-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: center !important;
        a {
            color: #212d39;
            font-size: 14px;
            &:focus {
                color: #212d39;
            }
        }
    }
    .list-contact {
        display: flex;
        width: 100%;
        flex-direction: column;
        .display-name {
            flex-direction: row;
            display: flex;
            color: #9fa1ab;
            font-weight: bold;
            font-size: 16px;
            text-align: left;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 20px;
            cursor: pointer;
            &:last-child {
                margin-bottom: 0px;
            }
            .show-image {
                border-radius: 100px;
                display: flex;
                margin-right: 10px;
                width: 50px;
                height: 50px;
                background: #d1d1d1;
                img {
                    border-radius: 100px;
                    object-fit: contain;
                    height: 100%;
                    width: 100%;
                }
            }
            .show-name {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                .handle-btn {
                    display: flex;
                    flex-direction: row;
                    button {
                        color: #212d39;
                        margin-right: 5px;
                        &:last-child {
                            margin-right: 0px;
                            color: red !important;
                        }
                    }
                }
            }
        }
    }
    .contact-form {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-end;
        text-align: left;
        .form-input {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: flex-start;
            margin-bottom: 10px;
            input {
                width: 100%;
            }
        }
        button {
            background: #212d39;
            padding: 5px 20px;
            color: #ffffff;
            border-radius: 4px;
            &:hover {
                color: #000000;
                background: #d1d1d1;
            }
        }
    }
}